.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.header {
    font-size: 10px;
    font-weight: bold;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.header > h2 {
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    margin: 5px;
    margin-bottom: 0px;

    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.header div {
    display: flex;
    gap: 20px;
}

/* Recursively style all button elements and their descendants within .header */
.header button, .header select{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid white;
    padding: 3px 10px;
}

.record-button, .model-selection {
    display: flex;
    
    max-width: 200px;
    width: 100%;
    height: 50px;

    color: white;
    font-size: 20px;
    border-radius: 5px;

    align-self: flex-end;
}

.record-button {
    margin-left: auto;
}


/* content section */

.content-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    align-items: start; /* Changed from center */
    justify-content: center;
    width: 100%;
    height: 100%; /* Uncomment this */
    max-height: calc(100vh - 150px); /* Add explicit max height */
    
    gap: 5px;
}

.content-container > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    gap: 5px;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid white;

}

.audio-container {
}

.transcription-parent-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.transcription-container {
    height: 100%;
    max-height: 100%; /* Add this */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.transcription-container > h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;

    border-radius: 5px;
    padding: 5px;
}


.transcription-segments {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    box-sizing: border-box;
    max-height: 100%; /* Add this */
    
    overflow-y: auto;
    overflow-x: hidden;
    
    width: 100%;
    gap: 5px;
}

.transcript-segment {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 5px;

    width: 100%;

    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);

}